USE [master]
GO
/****** Object:  Database [demomomo]    Script Date: 2022/7/30 下午 04:04:00 ******/
CREATE DATABASE [demomomo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demomomo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\demomomo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'demomomo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\demomomo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demomomo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demomomo]
GO
/****** Object:  Table [dbo].[airplaneClass]    Script Date: 2022/7/30 下午 04:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airplaneClass](
	[classID] [int] NOT NULL,
	[className] [nvarchar](10) NOT NULL,
 CONSTRAINT [airplaneClass_pk] PRIMARY KEY CLUSTERED 
(
	[classID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[airplaneGrade]    Script Date: 2022/7/30 下午 04:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airplaneGrade](
	[gradeID] [int] NOT NULL,
	[gradeName] [nvarchar](1) NOT NULL,
 CONSTRAINT [airplaneGrade_pk] PRIMARY KEY CLUSTERED 
(
	[gradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[airport]    Script Date: 2022/7/30 下午 04:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airport](
	[airportID] [int] NOT NULL,
	[airportName] [nvarchar](10) NOT NULL,
 CONSTRAINT [airline_pk] PRIMARY KEY CLUSTERED 
(
	[airportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttractionOrder]    Script Date: 2022/7/30 下午 04:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttractionOrder](
	[planID] [int] NOT NULL,
	[memberID] [int] NOT NULL,
 CONSTRAINT [AttractionOrder_pk] PRIMARY KEY CLUSTERED 
(
	[memberID] ASC,
	[planID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flightOrder]    Script Date: 2022/7/30 下午 04:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flightOrder](
	[TicketID] [int] NOT NULL,
	[orderID] [int] NOT NULL,
	[memberID] [int] NOT NULL,
 CONSTRAINT [flightOrder_pk] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flightTicket]    Script Date: 2022/7/30 下午 04:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flightTicket](
	[flightID] [int] NOT NULL,
	[departureTime] [datetime] NOT NULL,
	[arrivalTine] [datetime] NOT NULL,
	[classID] [int] NOT NULL,
	[fare] [int] NOT NULL,
	[airline] [nvarchar](10) NOT NULL,
	[originID] [int] NOT NULL,
	[destinationID] [int] NOT NULL,
 CONSTRAINT [flightTicket_pk] PRIMARY KEY CLUSTERED 
(
	[flightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[journey]    Script Date: 2022/7/30 下午 04:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[journey](
	[jID] [int] NOT NULL identity,
	[jName] [varchar](14) NOT NULL,
	[memberID] [int] NOT NULL,
	[jAlterDate] [datetime] NOT NULL,
	[jStartDate] [datetime] NOT NULL,
	[jEnddate] [datetime] NOT NULL,
 CONSTRAINT [journey_pk] PRIMARY KEY CLUSTERED 
(
	[jID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JourneyAttraction]    Script Date: 2022/7/30 下午 04:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JourneyAttraction](
	[planID] [int] NOT NULL,
	[memberID] [int] NOT NULL,
	[jID] [int] NOT NULL,
 CONSTRAINT [JourneyAttraction_pk] PRIMARY KEY CLUSTERED 
(
	[planID] ASC,
	[memberID] ASC,
	[jID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[journeyFlight]    Script Date: 2022/7/30 下午 04:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[journeyFlight](
	[ticketID] [int] NOT NULL,
	[memberID] [int] NOT NULL,
	[jID] [int] NOT NULL,
 CONSTRAINT [journeyFlight_pk] PRIMARY KEY CLUSTERED 
(
	[ticketID] ASC,
	[memberID] ASC,
	[jID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JourneyRoom]    Script Date: 2022/7/30 下午 04:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JourneyRoom](
	[roomID] [int] NOT NULL,
	[memberID] [int] NOT NULL,
	[jID] [int] NOT NULL,
 CONSTRAINT [JourneyRoom_pk] PRIMARY KEY CLUSTERED 
(
	[roomID] ASC,
	[memberID] ASC,
	[jID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[membership]    Script Date: 2022/7/30 下午 04:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[membership](
	[memberID] [int] NOT NULL,
 CONSTRAINT [membership_pk] PRIMARY KEY CLUSTERED 
(
	[memberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roomOrder]    Script Date: 2022/7/30 下午 04:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roomOrder](
	[roomID] [int] NOT NULL,
	[memberID] [int] NOT NULL,
 CONSTRAINT [roomOrder_pk] PRIMARY KEY CLUSTERED 
(
	[roomID] ASC,
	[memberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttractionOrder]  WITH CHECK ADD FOREIGN KEY([memberID])
REFERENCES [dbo].[membership] ([memberID])
GO
ALTER TABLE [dbo].[flightOrder]  WITH CHECK ADD FOREIGN KEY([memberID])
REFERENCES [dbo].[membership] ([memberID])
GO
ALTER TABLE [dbo].[journey]  WITH CHECK ADD FOREIGN KEY([memberID])
REFERENCES [dbo].[membership] ([memberID])
GO
ALTER TABLE [dbo].[JourneyAttraction]  WITH CHECK ADD FOREIGN KEY([jID])
REFERENCES [dbo].[journey] ([jID])
GO
ALTER TABLE [dbo].[JourneyAttraction]  WITH CHECK ADD FOREIGN KEY([memberID], [planID])
REFERENCES [dbo].[AttractionOrder] ([memberID], [planID])
GO
ALTER TABLE [dbo].[journeyFlight]  WITH CHECK ADD FOREIGN KEY([ticketID])
REFERENCES [dbo].[flightOrder] ([TicketID])
GO
ALTER TABLE [dbo].[journeyFlight]  WITH CHECK ADD FOREIGN KEY([jID])
REFERENCES [dbo].[journey] ([jID])
GO
ALTER TABLE [dbo].[JourneyRoom]  WITH CHECK ADD FOREIGN KEY([roomID], [memberID])
REFERENCES [dbo].[roomOrder] ([roomID], [memberID])
GO
ALTER TABLE [dbo].[roomOrder]  WITH CHECK ADD FOREIGN KEY([memberID])
REFERENCES [dbo].[membership] ([memberID])
GO
USE [master]
GO
